*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Customize scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #cecdcd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5a5a5;
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #989898;
}