.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  .loginWrapper {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    .loginBox {
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      .loginInput {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #f7f7f7;
        font-size: 16px;
        color: #333;
        outline: none;
        
        &:focus {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
      }
      
      .loginButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #2ecc71;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        
        &:hover {
          background-color: #27ae60;
        }
      }
      
      .loginForgot {
        margin-top: 10px;
        text-align: center;
        color: #999;
        cursor: pointer;
        
        &:hover {
          color: #555;
        }
      }
      
      .loginRegisterButton {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #3498db;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        
        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }
}

