.task{
    padding: 20px;
    background: #fff;
    border-radius: 16px;
    min-height: 166px;
    position: relative;

   
    .taskMenu{
        background-color: rgba(238, 242, 245, 0.648);
        position: absolute;
        top: 45px;
        right: 15px;
        border-radius: 8px;
        padding: 10px 8px 5px 8px;
        backdrop-filter: blur(2px);
    
        ul{
            list-style: none;
    
            li{
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-bottom: 6px;
    
                span{
                    font-size: 13px;
    
                }
                
                .icon{
                    font-size: 15px;
                    margin-right: 5px;
                }
            }
        }
    }

    .top{
        display: flex;
        align-items: center;
        .category{
            display: flex;
            align-items: center;
            .categoryColor{
                width: 8px;
                height: 8px;
                background: #40A737;
                border-radius: 50%;
                margin-right: 4px;
                &.red{
                    background: #FF2473;
                }
                &.blue{
                    background: #18B0FF;
                }
            }
            .categoryText {
                font-size: 8px;
                font-weight: 500;
                color: #707070;
            }
           
        }
        .icon {
            font-size: 20px;
            cursor: pointer;
        }
    }

    .center{
        .title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 6px;
        }

        p {
            font-size: 10px;
            margin-bottom: 13px;
        }
    }
    
}