.navbar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 25px;

  .left {
    display: flex;
    align-items: center;
  }
  .right {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
  }
}
