.sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 5.64649px -0.806641px 9.67969px rgba(0, 0, 0, 0.11);
    padding: 0 30px;
.top{
    .logo{
        font-size: 13px;
        font-weight: 700;
        
    }
}
    .center{

    }
}